body {
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(90.05deg, #E47500 -5.66%, #DF7C14 115.63%);
}

nav {
    padding: 5px 30px;
    display: flex;
    align-items: center;
}

.nav-mobile {  
    display: none !important; 
}

.logo {
    flex: 1;
}

.logo>img {
    width: 170px;
}

.listLinks {
    display: flex;
    list-style: none;
    margin-top: 1.2em;
}

.listLinks li {
    font-weight: 500;
    font-size: 17px;
    margin-left: 45px;
}

#main_services {
    background: rgba(241, 240, 238, 1);
}

.mainServiceInfo {
    display: flex;
    flex-direction: column;
}

.mainServiceInfo h1 {
    margin-top: 8%;
    font-weight: 700;
}

.mainServiceInfo p {
    margin-top: 10px;
}

.mainServiceInfo button {
    outline: none;
    border: none;
    width: 23%;
    border-radius: 20px;
    background: linear-gradient(90.05deg, #E47500 -5.66%, #DF7C14 115.63%);
    padding: 9px 15px;
    font-weight: 500;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mainServiceImg {
    width: 100%;
}

.perfilServiceTitle {
    text-align: center;
    font-weight: 700;
}

.perfilServiceCard {
    background-color: #EBEBEB;
    box-shadow: 0px 8px 16px 0px rgba(160, 160, 160, 0.25);
    border-radius: 20px;
    padding: 10px 25px;
}

.perfilServiceCard .perfilServiceCardDescription {
    font-weight: 600;
}

.perfilServiceCardDescription {
    display: block;
}

.perfilServiceCard button {
    border: none;
    color: #f0810b;
    margin-top: 10px;
    font-weight: 600;
    text-transform: uppercase;
    background: none;
}

#perfil_services {
    margin-top: 90px;
    padding: 0 20%;
}

#whatIsReparoLar {
    margin-top: 60px;
    background: rgba(246, 246, 246, 1);
    padding: 40px 0;
}

.titleReparoLar {
    margin-top: 10px;
}

#contact {
    margin-top: 80px;
}

.contactTitle {
    text-align: center;
    font-weight: 600;
}

.contactEmail {
    display: block;
    margin-top: 19px;
    text-align: center;
    font-weight: 700;
    color: #ff992c;
    word-break: break-all;
}

footer {
    margin-top: 80px;
    background: #1B1B1B;
    color: rgb(223, 222, 222);
}

footer>div {
    padding: 30px 0;
}


.footerInfoReparoLar>p {
    margin-top: 10px;
    font-size: 14px;
}

.footerInfoReparoLar>img {
    width: 13rem;
}

.footerAboutUs,
.footerContactUs {
    margin-top: 25px;
}

.footerAboutUs>strong,
.footerContactUs>strong {
    font-size: 18px;
}

.footerAboutUs>ul,
.footerContactUs>ul {
    margin-top: 5px;
    list-style: none;
    padding: 0;
}

.footerSocialNetworks {
    display: flex;
    margin-top: 38%;
}

.footerCopyRight {
    display: block;
    padding: 3px 0 20px 0;
    text-align: center;
}

@media (max-width: 903px) {
    nav {
        display: none;
    }
    #main_services {
        padding: 10px 0;
    }

    #perfil_services {
        padding: 0 10%;
    }

    .footerInfoReparoLar>img {
        width: 10rem;
    }

    .footerSocialNetworks {  
        margin: 0 auto;
    }

    .nav-mobile {
        display: block !important;
    }
}